<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>PPNeueMachina-Regular.otf</string>
		<string>MonsieurLaDoulaise-Regular.ttf</string>
		<string>Barriecito-Regular.ttf</string>
		<string>Pacifico-Regular.ttf</string>
		<string>Kapakana-VariableFont_wght.ttf</string>
		<string>AllertaStencil-Regular.ttf</string>
		<string>Arbutus-Regular.ttf</string>
		<string>Kablammo-Regular-VariableFont_MORF.ttf</string>
		<string>Butcherman-Regular.ttf</string>
		<string>Eater-Regular.ttf</string>
		<string>Inspiration-Regular.ttf</string>
		<string>FontdinerSwanky-Regular.ttf</string>
		<string>RubikIso-Regular.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Ứng dụng cần quyền để lưu ảnh vào thư viện.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ứng dụng cần quyền để truy cập ảnh trong thư viện.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>instagram-reels</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1507711683598176</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
